.footer {
  font-size: xx-large;

  background: linear-gradient(90deg, rgb(203, 181, 82) 0%, rgb(218, 89, 49) 100%);
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}