.footer {
  font-size: large;
  background: linear-gradient(90deg, rgb(187, 164, 31) 0%, rgb(54, 166, 210) 100%);
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}