.App {
  text-align: center;
}

.App-header {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2em + 2vmin);
  background-image: url( './frbrg-bg.svg' );
  background-size: cover;
}

.subtitle {
  padding: 2em;
  margin: 1em;
  border-radius: 48px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
  color: #fff800;
  backdrop-filter: blur(20px);
}
