@font-face {
  font-family: nabla;
  src: url(../public/Nabla-Regular.ttf);
}

body {
  background-color: #004aad;
  margin: 0;
  font-family: nabla;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
